{% extends "/layouts/" ~ layout ~ ".twig" %}

{% block title %}..::Pastecode::.. Activation Results{% endblock %}

{% block head_bottom %}
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div id="information">
        <div><span class="label">Activation Results</span></div>
        
    {% if result == "activated" %}
        <p>Congratulations, you've activated your account!</p>
    {% else %}
        <p>Your account could not be activated, please check both your email and activation code are correct.</p>
    {% endif %}
    </div>
{% endblock %}