{% extends "/layouts/" ~ layout ~ ".twig" %}

{% block title %}..::Pastecode::.. Log In{% endblock %}

{% block head_bottom %}
    <link rel="stylesheet" href="{{siteRoot}}/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    
        <div id="information">
            <div class="label">
                <span>
                    Sorry, either the specified paste does not exist, or you do not have access to it
                </span>
            </div>
	</div>
{% endblock %}